h1 {
  font-family: monospace;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: monospace;
  font-size: 15pt;
  font-style: oblique;
}

h4 {
  font-family: monospace;
  font-size: 14pt;
  font-style: oblique;
}

h5 {
  font-family: monospace;
  font-size: 12pt;
}

p {
  font-family: Georgia, serif;
}

article {
  font-family: Georgia, serif;
}

.advice {
  font-family: Georgia, serif;
  font-size: 10pt;
}

.list {
  list-style-type: circle;
}

.background{
  background-color: #FFFAE1;
}

.text{
  text-indent: 1.5%;
}
